.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
    list-style: none;
    margin-top: 24px;
}

.image {
    display: block;
    width: 240px;
    height: 320px;
    object-fit: cover;
    margin-bottom: 8px;
}

.name {
    max-width: 240px;
    font-size: 20px;
    font-weight: 500;
    color: #434344;
}

.character {
    max-width: 240px;
    font-size: 16px;
    color: #5a595c;
    margin-bottom: 8px;
}

.text {
    margin-top: 16px;
}